.map {
    height: 450px;
}

.mlb-ctrl-doodle {
    color: black !important;
}

.mlb-ctrl-location{
    color: black !important;
}

.mlb-ctrl-marker{
    color: black !important;
}

.mlb-ctrl-modal {
    color: black !important;
}